node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

design_choices.md
duel.code-workspace
passages.txt
translations.md
gpt
translators_odyssey.md
scripts
replace copy.txt
replace json.txt
replace.txt
src/lib/data/iliad/raw.txt
src/lib/data/odyssey/meta copy.json
src/routes/books/*/vote/gemini.md
src/routes/books/*/vote/working.svelte
src/routes/books/*/translators/gemini.md
src/lib/data/iliad/samples/*
src/lib/data/odyssey/samples/*
src/lib/data/iliad/meta-local.json
src/lib/data/odyssey/meta-local.json